body {
  background-color: white;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

.header {
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
  overflow: hidden;
}

.navbar {
  position: sticky;
  width: 100vw;
  height: 8vh;
  top: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: turquoise;
  z-index: 10;
}

.navbar_left {
  float: left;
}

.navbar_right {
  float: right;
}

.navbar_text {
  font-family: "Arial";
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title_container {
  background-color: darkturquoise;
  width: 50%;
  height: 30vh;
  position: relative;
  top: 25px;
  justify-content: center;
  text-align: center;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.text_column {
  width: 50%;
  height: 100%;
  float: left;
}

.photo_column {
  width: 50%;
  height: 100%;
  float: right;
}

.center_container {
  background-color: #AFE4DE;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.blank_space_container {
  position: relative;
  width: 33%;
  height: 50px;

  display: inline-block;
  margin: 0 auto;
}

.footer_text {
  position: relative;
  display: inline-block;
  color: coral;
  font-family: "Arial";
}

.reg_text{
  position: relative;
  color: black;
  text-align: center;
  font-family: "Arial";
}

.para_text{
  position: relative;
  color: black;
  text-align: center;
  font-family: "Arial";
  line-height: 5vh;
}

.proj_text{
  position: relative;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Arial";
  text-decoration: none;
}

.title_text{
  position: relative;
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Arial";
  display: inline-block;
}

a:hover {
  background-color: deepskyblue;
}

@media only screen and (max-width: 650px) {
  .title_container {
    height: 35vh;
  }
}

@media only screen and (max-width: 525px) {
  .title_container {
    height: 40vh;
  }
}