.portfolio_container {
    background-color: #AFE4DE;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin: auto;
    border-radius: 10px;

    display: inline-block;
}

.image_container {
    top: 5%;
    position: relative;
    width: 70%;
    height: 50%;

    display: block;
    margin: 0 auto;
}

.text_container {
    position: relative;
    width: 90%;
    height: 50%;

    display: block;
    margin: 0 auto;
}

.image {
    top: 100px;
    width: 80%;
    height: auto;

    display: block;
    margin: 0 auto;
}

.projects_container {
    position: relative;
    height: 150vh;
    margin: 1vh;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    display: grid;
    padding: 5%;

    column-gap: 8%;
    row-gap: 5%;
}

@media only screen and (max-width: 1200px) {
    .portfolio_container {
        height: 350px;
    }

    .image_container {
        height: 40%;
    }

    .text_container {
        height: 60%;
    }
}

@media only screen and (max-width: 900px) {
    .projects_container {
        grid-template-columns: repeat(2, 1fr);
        top: 6vh;
    }

    .portfolio_container {
        height: 350px;
    }

    .image_container {
        height: 50%;
    }

    .text_container {
        height: 50%;
    }
}

@media only screen and (max-width: 850px) {
    .projects_container {
        grid-template-columns: repeat(2, 1fr);
        top: 6vh;
    }

    .portfolio_container {
        height: 400px;
    }

    .image_container {
        height: 40%;
    }

    .text_container {
        height: 60%;
    }
}

@media only screen and (max-width: 525px) {
    .projects_container {
        grid-template-columns: repeat(1, 1fr);
        top: 6vh;
    }

    .portfolio_container {
        height: 450px;
    }

    .image_container {
        height: 50%;
    }

    .text_container {
        height: 50%;
    }
}