.text_container {
    background-color: #AFE4DE;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}

.rows {
    float: right;
    display: grid;
    width: 50%;
    height: 60%;
    row-gap: 4vh;
    padding-top: 50px;
}

.image_slot {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50%;
    height: 65%;
    row-gap: 30px;
    padding-top: 50px;
}

img {
    width: 60%;
    padding-left: 15%;
}

.section {
    width: 100%;
    height: 120vh;
    display: inline-block;
}

.small_section {
    width: 100%;
    height: 80vh;
    display: inline-block;
}

i {
    margin-right: 10px;
    padding-top: 17px;
}

.skill_gallery {
    position: relative;
    height: 25vh;
    margin: 6vw;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    display: grid;

    column-gap: 4vh;
    row-gap: 8vh;
}

.skill_container {
    background-color: #AFE4DE;
    width: 50vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}

@media only screen and (max-width: 1500px) {
    .rows {
        row-gap: 2vh;
    }
}

@media only screen and (max-width: 1200px) {
    .section {
        height: 125vh;
    }
}

@media only screen and (max-width: 1050px) {
    .section {
        height: 150vh;
    }
    .skill_gallery {
        grid-template-columns: repeat(2, 1fr);
        top: 6vh;
    }
}

@media only screen and (max-width: 700px) {
    .section {
        height: 175vh;
    }
}

@media only screen and (max-width: 600px) {
    .section {
        height: 200vh;
        width: 100vh;
    }
    .skill_gallery {
        grid-template-columns: repeat(1, 1fr);
        top: 6vh;
    }
    .image_slot {
        width: 100%;
    }
    .text_container {
        width: 80%;
    }
    .rows {
        width: 100%;
    }
}

@media only screen and (max-width: 525px) {
    .section {
        height: 185vh;
        width: 90vh;
    }
    .skill_gallery {
        grid-template-columns: repeat(1, 1fr);
        top: 6vh;
    }
    .image_slot {
        width: 100%;
    }
    .text_container {
        width: 90%;
    }
    .rows {
        width: 100%;
    }
}

[class*="col-"] {
    width: 100%;
}