img {
    max-height: 80%;
    width: auto;
}

.portfolio_container {
    background-color: #AFE4DE;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: auto;
    border-radius: 10px;

    display: inline-block;
}

.image_container {
    top: 5%;
    position: relative;
    width: 70%;
    height: 40%;

    display: block;
    margin: 0 auto;
}

.text_container {
    position: relative;
    width: 90%;
    height: 40%;

    display: block;
    margin: 0 auto;
}

.tags_container {
    top: 5%;
    position: relative;
    width: 100%;
    height: 20%;
    column-gap: 1px;
    row-gap: 10%;

    display: inline-block;
    margin: 0 auto;
}

.image {
    top: 100px;
    width: 80%;
    height: auto;

    display: block;
    margin: 0 auto;
}

.projects_container {
    position: relative;
    height: 150vh;
    margin: 1vh;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    display: grid;
    padding: 5%;

    column-gap: 8%;
    row-gap: 5%;
}

.label_text{
    position: relative;
    color: black;
    background-color: cornflowerblue;
    padding: 10px;
    right: 20px;
    text-align: center;
    font-family: "Arial";
    display: inline;
}

.category_text{
    position: relative;
    color: black;
    background-color: steelblue;
    padding: 10px;
    right: 20px;
    text-align: center;
    font-family: "Arial";
    display: inline;
}

.label_container {
    position: relative;
    display: inline;
    margin: 10px;
    width: 100%;
    text-align: center;
    min-width: 0;
    border-radius: 5px;
}

.label_sub_container {
    position: relative;
    display: inline-block;
    justify-items: center;
    margin: 5px;
    width: 100%;
    text-align: center;
    min-width: 0;
    border-radius: 5px;
    padding: 10px;
}

@media only screen and (max-width: 1200px) {
    .portfolio_container {
        height: 500px;
    }

    .image_container {
        height: 25%;
    }

    .text_container {
        height: 60%;
    }
}

@media only screen and (max-width: 1050px) {
    .projects_container {
        grid-template-columns: repeat(2, 1fr);
        top: 6vh;
    }

    .portfolio_container {
        height: 500px;
    }

    .image_container {
        height: 35%;
    }

    .text_container {
        height: 50%;
    }
}

@media only screen and (max-width: 850px) {
    .projects_container {
        grid-template-columns: repeat(2, 1fr);
        top: 6vh;
    }

    .portfolio_container {
        height: 500px;
    }

    .image_container {
        height: 15%;
    }

    .text_container {
        height: 60%;
    }

    .tags_container {
        height: 35%;
    }

    img {
        max-height: 100%;
    }
}

@media only screen and (max-width: 850px) and (min-width: 650px) {
    .label_sub_container {
        width: auto;
        height: auto;
    }

    .label_container {
        width: auto;
        height: auto;
        float: left;
    }
}

@media only screen and (max-width: 650px) {
    .projects_container {
        grid-template-columns: repeat(1, 1fr);
        top: 6vh;
    }

    .portfolio_container {
        height: 550px;
    }

    .image_container {
        height: 45%;
    }

    .tags_container {
        height: 20%;
    }

    .text_container {
        height: 50%;
    }
}